<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Connection string to development database used to create the types from -->
		<!--<add name="DB_Types" connectionString="" providerName="System.Data.SqlClient" />-->
    <add name="Headcount-Local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Downloads\Headcount\WebApplication1\App_Data\HeadCount.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />


  </connectionStrings>
</configuration>